<template>
  <div class="home">
    <router-link class="nav-item" :to="{ name: 'Houses', params: { page: 1 } }"
      ><img class="home-img" src="../assets/home.jpg"
    /></router-link>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component";

export default class Home extends Vue {}
</script>
<style lang="scss">
@import "../styles/Home.scss";
</style>
