<template>
  <div>
    <ItemsList />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ItemsList from "../components/ItemsList.vue";

@Options({
  components: {
    ItemsList,
  },
})
export default class HousesList extends Vue {}
</script>
