<template>
  <!-- input para realizar busquedas -->
  <div class="container-options-item">
    <div>
      <input
        class="container-options-item-radio"
        type="radio"
        id="name"
        value="name"
        v-model="search.searchBy"
        v-on:change="passEvent"
      />
      <label for="name">Name</label>
      <input
        class="container-options-item-radio"
        type="radio"
        id="city"
        value="city"
        v-model="search.searchBy"
        v-on:change="passEvent"
      />
      <label for="city">City</label>
    </div>
    <input
      class="container-options-item-input-search"
      v-model="search.searchTextValue"
      placeholder="Search"
      v-on:input="passEvent"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
export default defineComponent({
  data: () => ({
    search: {
      searchTextValue: "" as string,
      searchBy: "" as string,
    } as any,
  }),
  methods: {
    passEvent() {
      this.$emit("valueInputSearch", this.search);
    },
  },
});
</script>

<style lang="scss">
@import "../styles/ItemsList.scss";
</style>
