<template>
  <div class="main">
    <Navbar />
    <h2 class="error-text" v-if="error != ''">
      Error. No connection with the serve.
    </h2>
    <div v-if="error == ''" class="main-list">
      <div class="container-options">
        <!-- Select para precios ... -->
        <SelectPrice
          :key="selectPriceKey"
          @valuePricesToFilter="handleFilterPrice($event)"
        />
        <!-- input para realizar busquedas -->
        <InputSearch
          :key="inputSearchKey"
          @valueInputSearch="handleSearch($event)"
        />
        <!-- Select de ordenar por... -->
        <SelectOrder
          :key="selectOrderKey"
          @valueSelectToOrder="handleClickOrder($event)"
        />
      </div>
      <!-- se muestra si no hay resultados en la busqueda/fitlrado -->
      <div v-if="noResult" class="cotainer-no-result">
        <h2 class="text-info" v-if="noResult">
          Sorry, try again, no results with these params.
        </h2>
      </div>
      <!-- listado  -->
      <div v-if="resultList">
        <ul class="list-items">
          <div>
            <li v-for="(item, index) in resultList" :key="index">
              <ItemsListCard :itemProps="item" :resultListProps="resultList" />
            </li>
          </div>
        </ul>
        <!-- Mensaje que muestra resultados obtenidos -->
        <div v-if="resultList.length > 0">
          <span class="text-info">Results: {{ resultList.length }}</span>
        </div>
        <h6
          class="text-info"
          v-if="
            page < result.last_page &&
            this.searchTextValue == '' &&
            this.selectedPriceLow == 0
          "
        >
          Scroll to show more houses...
        </h6>
        <!-- Menú de navegación de páginas -->
        <NavPagination
          v-if="resultList.length > 0"
          @valuePage="handleClickGoToPage($event)"
          :resultProps="result"
        />
      </div>
      <div
        class="container-no-houses"
        v-if="resultList.length == 0 && noResult == false"
      >
        <h3 class="text-info">No houses registered.</h3>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
//importamos las llamadas a la api
import getAllItems from "../api/getAllItems";
import getList from "../api/getList";
import getListByUrl from "../api/getListByUrl";
//importamos los modelos de datos que usamos
import ResultDataModel from "../Models/ResultDataModel";
import ResultListDataModel from "../Models/ResultListDataModel";
import GetListApiResponseModel from "../Models/ListApiResponseModel";
//importamos componentes hijos que usamos
import ItemsListCard from "./ItemsListCard.vue";
import SelectOrder from "./SelectOrder.vue";
import SelectPrice from "./SelectPrice.vue";
import NavPagination from "./NavPagination.vue";
import InputSearch from "./InputSearch.vue";
import Navbar from "./Navbar.vue";

export default defineComponent({
  name: "ItemsList",
  components: {
    Navbar,
    ItemsListCard,
    SelectOrder,
    SelectPrice,
    NavPagination,
    InputSearch,
  },
  data: () => ({
    apiResponse: {} as GetListApiResponseModel,
    apiResponseAll: {} as GetListApiResponseModel,
    allItems: [] as ResultListDataModel[],
    result: {} as ResultDataModel,
    resultList: [] as ResultListDataModel[],
    page: "1" as string,
    nextPage: "" as string,
    searchTextValue: "" as string,
    searchBy: "" as string,
    selectedPriceLow: 0 as number,
    selectedPriceHigh: 0 as number,
    noResult: false as boolean,
    error: "" as string,
    //components keys
    selectOrderKey: 0 as number,
    inputSearchKey: 0 as number,
    selectPriceKey: 0 as number,
  }),
  methods: {
    async getAllItems(): Promise<ResultListDataModel[]> {
      try {
        this.apiResponseAll = await getAllItems.get();
        let tempResult: any = this.apiResponseAll.data;
        this.allItems = tempResult;
      } catch (error) {
        this.error = error;
      }
      return this.allItems;
    },
    async getList(): Promise<ResultListDataModel[]> {
      try {
        this.apiResponse = await getList.get(this.page);
        this.result = this.apiResponse.data;
        this.resultList = this.result.data;
        this.nextPage = this.result.next_page_url;
      } catch (error) {
        this.error = error;
      }
      return this.resultList;
    },
    getListScroll(): ResultListDataModel[] {
      window.onscroll = async () => {
        let bottomOfWindow =
          Math.max(
            window.pageYOffset,
            document.documentElement.scrollTop,
            document.body.scrollTop
          ) +
            window.innerHeight ===
          document.documentElement.offsetHeight;

        let pageToInt = parseInt(this.page, 10);

        if (
          bottomOfWindow &&
          pageToInt < this.result.last_page &&
          this.searchTextValue == "" &&
          this.selectedPriceLow == 0
        ) {
          this.apiResponse = await getListByUrl.get(this.nextPage);
          this.result = this.apiResponse.data;
          this.resultList.push(...this.result.data);
          this.page = this.page + 1;
          // this.page = this.result.current_page.toString();
        }
      };
      return this.resultList;
    },
    async handleClickGoToPage(page: string): Promise<ResultListDataModel[]> {
      this.forceRerenderSearch();
      this.forceRerenderOrder();
      this.forceRerenderPrice();
      try {
        //limpiamos valores para el scroll
        this.selectedPriceLow = 0;
        this.selectedPriceHigh = 0;
        this.searchTextValue = "";
        this.noResult = false;
        this.error = "";
        this.apiResponse = await getList.get(page);
        this.page = page;
        this.result = this.apiResponse.data;
        this.nextPage = this.result.next_page_url;
        this.resultList = this.result.data;
        this.scrollToStart();
      } catch (error) {
        this.error = error;
      }
      return this.resultList;
    },
    handleClickOrder(valueSelectToOrder: string): void {
      this.resultList.sort((a: any, b: any) => {
        if (a[valueSelectToOrder] < b[valueSelectToOrder]) {
          return -1;
        }
        if (a[valueSelectToOrder] > b[valueSelectToOrder]) {
          return 1;
        }
        return 0;
      });
    },
    handleSearch(searchProp: any): ResultListDataModel[] {
      this.forceRerenderOrder();
      this.forceRerenderPrice();
      this.searchTextValue = searchProp.searchTextValue;
      this.searchBy = searchProp.searchBy;
      if (this.searchBy == "") {
        this.searchBy = "name";
      }
      this.noResult = false;
      const search: string = this.searchTextValue.toLowerCase().trim();
      let searchResult = [];
      if (!search) {
        this.page = "1";
        this.getList();
      }
      searchResult = this.allItems.filter(
        (item: any) => item[this.searchBy].toLowerCase().indexOf(search) > -1
      );
      if (searchResult.length > 0) {
        this.resultList = searchResult;
      } else {
        this.resultList = [];
        this.noResult = true;
      }

      return this.resultList;
    },
    handleFilterPrice(prices: any): void {
      this.forceRerenderSearch();
      this.forceRerenderOrder();
      this.selectedPriceLow = prices.selectedPriceLow;
      this.selectedPriceHigh = prices.selectedPriceHigh;
      this.noResult = false;
      this.selectedPriceLow == 0 ? (this.selectedPriceLow = 1) : null;
      this.selectedPriceHigh == 0
        ? (this.selectedPriceHigh = 1000000000)
        : null;
      if (this.selectedPriceLow > 0) {
        this.page = "1";
        this.resultList = this.allItems
          .filter(
            (item: ResultListDataModel) =>
              item.price >= this.selectedPriceLow &&
              item.price < this.selectedPriceHigh
          )
          .sort((a: any, b: any) => {
            if (a.price < b.price) {
              return -1;
            }
            if (a.price > b.price) {
              return 1;
            }
            return 0;
          });
        if (this.resultList.length == 0) {
          this.noResult = true;
          this.resultList = [];
        }
      } else {
        this.page = "1";
        this.getList();
      }
    },

    scrollToStart(): void {
      window.scroll(0, 0);
    },
    forceRerenderOrder() {
      this.selectOrderKey += 1;
    },
    forceRerenderPrice() {
      this.selectPriceKey += 1;
    },
    forceRerenderSearch() {
      this.inputSearchKey += 1;
    },
  },
  created(): void {
    this.getList();
    this.getAllItems();
  },
  mounted(): void {
    this.getListScroll();
  },
});
</script>

<style lang="scss">
@import "../styles/ItemsList.scss";
</style>
