<template>
  <!-- card del listado  -->
  <div class="container-card">
    <div class="container-card-img">
      <img
        class="container-card-img-item"
        :src="itemProps.photo"
        :alt="itemProps.name"
      />
    </div>
    <div class="container-card-info">
      <h1 class="container-card-title">{{ itemProps.name }}</h1>
      <div class="container-card-items">
        <div class="container-card-items__margin">
          <p>
            <span class="fas fa-city fa-lg container-card-items-icon"></span>
            {{ itemProps.city }}
          </p>
          <p>
            <span
              class="far fa-handshake fa-lg container-card-items-icon"
            ></span>
            {{
              itemProps.price
                .toString()
                .replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
            }}
            €
          </p>
          <p>
            <span class="fas fa-hotel fa-lg container-card-items-icon"></span>
            {{ itemProps.type }}
          </p>
        </div>
        <div class="container-card-items__margin">
          <p>
            <span class="fas fa-bed fa-lg container-card-items-icon"></span
            >{{ itemProps.rooms }}
          </p>
          <p>
            <span class="fas fa-shower fa-lg container-card-items-icon"></span>
            {{ itemProps.bathrooms }}
          </p>
          <p>
            <span
              class="fas fa-vector-square fa-lg container-card-items-icon"
            ></span>
            {{ itemProps.meters }} m<sup>2</sup>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    itemProps: {},
    resultListProps: Array,
  },
};
</script>

<style lang="scss">
@import "../styles/ItemsListCard.scss";
</style>
