<template>
  <!-- Paginación... -->
  <div class="container-options-item-pagination">
    <p class="text-info">See all registered houses:</p>
    <div class="container-options-item-pagination-pages">
      <p class="text-info">Page(s):</p>
      <router-link
        v-for="page in resultProps.last_page"
        :key="page"
        :to="{
          params: { page: page },
        }"
      >
        <button
          class="container-options-item-pagination__margin"
          v-on:click="passEvent(page)"
        >
          {{ page }}
        </button>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
export default defineComponent({
  props: {
    resultProps: Object,
  },
  methods: {
    passEvent(page: string) {
      this.$emit("valuePage", page);
    },
  },
});
</script>

<style lang="scss">
@import "../styles/ItemsList.scss";
</style>
